<!--
SPDX-FileCopyrightText: 2020 Tocqueville Group

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TZIP Explorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/assets/ico/icon-48x48.png">
    <link rel="apple-touch-icon" sizes="48x48" href="/assets/ico/icon-48x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/assets/ico/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="192x192"
      href="/assets/ico/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="256x256"
      href="/assets/ico/icon-256x256.png">
    <link rel="apple-touch-icon" sizes="384x384"
      href="/assets/ico/icon-384x384.png">
    <link rel="apple-touch-icon" sizes="512x512"
      href="/assets/ico/icon-512x512.png">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
