/*
 * SPDX-FileCopyrightText: 2020 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f6f9fe;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
    outline: 0;
}

#app {
    height: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.top-header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1dae0;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.top-logo a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.top-logo-text {
    letter-spacing: 0.3em;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.top-header-links {
    margin-left: auto;
    display: flex;
}

.top-header-links a {
    display: flex;
    align-items: center;
    color: #0e151a;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 0 1.125rem;
}

.main-header {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: ;
    padding-right: 40px;
    padding-left: 40px;
    flex-wrap: wrap;
}

.nav-container span {
    display: inlne-block;
    margin-right: 10px;
}

.nav-container .item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

nav a {
    background-color: transparent;
    color: #999ea3;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    line-height: 23px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    white-space: nowrap;
}

nav a.link-active {
    background-color: blue;
    color: white;
}

.nav-links {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tzip-container {
    width: 30em;
    height: 12em;
    background-color: white;
    max-height: 15em;
    padding: 20px;
    border: solid 1px #c4c4c4;
    border-radius: 10px;
    margin: 20px;
}

.tzip-id {
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.tzip-intro {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 12px;
    margin-top: 0px;
    color: #9d9d9d;
    height: 4em;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.tzip-clickable {
    cursor: pointer;
}

.tzip-intro::after {
    position: absolute;
    bottom: -25px;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
    left: 0px;
}

.tzip-title {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin: 10px;
    height: 1.5em;
    color: #000000;
    margin-bottom: 0px;
}

.tzip-status-and-link {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.tzip-status {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    max-width: 100px;
    border: solid 1px transparent;
    padding: 5px;
    border-radius: 10px;
    color: #000000;
    width: 100%;
}

.tzip-repo-link {
    margin-left: auto;
    margin-right: 40px;
    font-size: 19px;
    margin-top: 2px;
}

.status-final {
    background-color: #f7d8dd;
    border-color: #d5405c;
}

.status-deprecated {
    background-color: #fdf2d1;
    border-color: #f8c22b;
}

.status-wip {
    background-color: #ceeeeb;
    border-color: #08af9f;
}

.status-default {
    background-color: transparent;
    border-color: #e0e0e0;
}

.tzips-container {
    margin: auto;
    margin-top: 100px;
    float: none;
    clear: both;
    display: flex;
    width: 100%;
    max-width: 100em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.proposal-id {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.proposal-id .direct-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
}

.direct-link a {
    box-shadow: 2px 3px 5px #cccccc;
    border-radius: 5px;
    padding: 5px;
}

.direct-link a:hover {
    box-shadow: 1px 4px 10px #cccccc;
    border-radius: 5px;
    padding: 5px;
}

.proposal-title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 21px;
    margin: 10px;
}

.proposal-attribute {
    padding: 5px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 21px;
    color: #000000;
    max-width: 90ch;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.proposal-container {
    font-family: "Roboto", sans-serif;
    margin: 40px;
    padding: 4ch;
    max-width: 90ch;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.discourse-container {
    font-family: "Roboto", sans-serif;
    margin: 40px;
    padding: 4ch;
    max-width: 90ch;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
}

.back-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #172df3;
    box-shadow: 0 16px 24px rgba(54, 123, 245, 0.2);
    margin: 1rem;
}

.selector-dropdown-sort {
    min-width: 150px;
}

.selector-dropdown-filter {
    min-width: 200px;
}

.nf-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nf-404 {
    display: flex;
    font-size: 10em;
}

.nf-message {
    display: flex;
    font-size: 20px;
}

table,
th,
td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}
